.sign-in-dialog {
  margin: auto;
  border: 1px solid lightgrey;
  border-radius: 4px;
  max-width: 450px;

  .inner-sign-in-dialog {
    margin: 10px;
  }

  .sign-in-dialog-header {
    padding: 1px 10px;
    background-color: #63BAF3;

    h4 {
      color: white;
    }
  }

  .sign-in-input {
    width: 100%;
    margin: auto;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}