<div>
  <div class="sign-in-dialog">
    <div class="sign-in-dialog-header">
      <h4>Password Reset Request</h4>
    </div>
    <div class="space-top space-bottom inner-sign-in-dialog clearfix">
      <div class="space-bottom">
        <p>Enter your email address below. We will send you instructions to reset your password.</p>
      </div>
      <div ng-show="ctrl.errors">
        <sd-error-scroll sa-errors="ctrl.errors"></sd-error-scroll>
      </div>
      <form ng-submit="ctrl.signIn()">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
              <label class="signin-label" for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control sign-in-input" placeholder="Email" ng-model="ctrl.email">
            </div>
          </div>
        </div>
        <div class="text-center half-space-bottom">
          <button ng-click="ctrl.requestReset()" class="btn btn-default">Send reset instructions</button>
        </div>
        <div class="text-center half-space-bottom" ng-show="ctrl.userAuth">
          <div class="alert alert-success">
            Password reset request was successful. Please check your email for further instructions.
          </div>
        </div>
      </form>
    </div>
  </div>
</div>