.chatbot-wrapper {
  overflow: hidden;
}

/**
@media (max-width: 500px) {
  .outer-chatbot {
    width: 100%;
  }
}
**/

.outer-chatbot {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 17px;
  position: absolute;
  z-index: 500;
  background: white;
  left: -8000px;

  &.fixed {
    position: fixed;
  }

  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 2s;
  transition-duration: 0.7s;

  &.visible {
    /** right: 20px; **/

    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 2s;
    transition-duration: 0.7s;
  }

  .inner-chat-pad {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }
}

.chatbot-messages {
  /**height: 350px; **/
  /** max-height: 350px; **/
  overflow-y: scroll;
  padding-right: 20px;

  &.disabled {
    opacity: 0.5;
  }

  .message-text > div > span {
    display: block;
  }

  .indent-level-1 {
    margin-left: 20px;
  }

  .indent-level-2 {
    margin-left: 40px;
  }

  .message-text {
    padding-top: 10px;
    padding-bottom: 10px;

    p, span, li {
      font-weight: 500;
      line-height: 1;
      font-size: 15px;
    }

    li {
      margin-bottom: 5px;
    }

    p:last-child {
      margin-bottom: 0;
    }

    p:first-child {
      margin-top: 0;
    }
  }
}

.chat-header {
  height: 50px;
  border-bottom: 1px solid lightgrey;

  .inner-chat-header {
    padding: 10px;
  }
}

.user-message {
  float: right;
  max-width: 80%;
}

.bot-message {
  float: left;
  max-width: 80%;
  background: #c34fff;
  color: white;
  border-color: #c34fff;
}

.chat-text-enter {
  height: 77px;
  width: 100%;
  border-top: 1px solid lightgrey;

  &.disabled {
    background: #e6e6e6;
    cursor: not-allowed;
    opacity: 0.5;
  }

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
  }

  textarea:focus {
    outline: none;
  }

  textarea:disabled {
    background: #e6e6e6;
    cursor: not-allowed;
  }
}

.message-text {
  margin: 2px 5px;
  padding: 5px 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.chatbot-btn {
  margin-left: 4px;
  margin-bottom: 4px;
  font-size: 16px;
}

.ellipsis-message {
  width: 33px;
}

.chatbot-close {
  color: #7b0000;
}

.btn.back-button {
  height: 77px;
  border-radius: 0;
  font-size: 14pt;
}

.start-chat {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 52px;
  width: 52px;
  background: black;
  opacity: 0.5;
  z-index: 500;

  i {
    font-size: 14pt;
    margin-top: 18px;
    color: white;
  }
}

.connection-lost {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  table {
    width: 100%;
    height: 100%;

    .connection-lost-inner {
      padding: 10px;
      background: white;
      border: 1px solid black;
      border-radius: 5px;
      color: black;
      font-weight: bold;
    }
  }
}

.outer-carousel-wrapper {
  /** margin: 0 20px; **/

  .text-subtitle {
    font-size: 0.9em;
    color: grey;
  }

  .carousel-indicators {
    display: none;
  }

  .carousel-control {
    background-image: none;

    .glyphicon {
      color: grey;
    }
  }
}


.btn-outer {
  display: inline-block;
}

/**
.btn-5-wide {
  .btn-outer {
    width: 20%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;

    .btn {
      width: 100%;
      height: 100px;
      white-space: normal;
      text-align: center;
    }
  }
}
**/