/** NOT WORKING!!! **/
.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.animate-enter {
  /** position: absolute; **/
  top: 300px;
}
.animate-enter.animate-enter-active {
  /** position: relative; **/
  top: 0;
}
 
.animate-leave {
  /** position: relative; **/
  top: 0;
}

.animate-leave.animate-leave-active {
  /** position: absolute; **/
  top: -300px;
}