<div class="modal-header">
  <h2 class="text-center" translate='CLEAR-SESSION-HEADER'></H2>
  <p translate='CLEAR-SESSION-1'>
  </p>
  <p translate='CLEAR-SESSION-2'>
  </p>
  <p translate='CLEAR-SESSION-3'>
  </p>
</div>
<div class="modal-body">
  <div class="space-bottom">
    <p class="space-bottom" translate='CLEAR-SESSION-4'>
    </p>
  </div>
  <div>
    <div class="form-group">
      <label for="decision_aid_user_pid">PID:</label>
      <input class="form-control half-width" ng-model="ctrl.pid" placeholder="PID" />
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class=" pull-right btn-group">
    <button class="btn btn-primary" ng-click="ctrl.closeDcidaIntroPopup()" translate="BEGIN-BUTTON"></button>
  </div>
</div>