<div id="decision_aid_traditional_properties">
  <!-- <div class="space-top space-bottom text-center" ng-show="ctrl.loading">
    <i class="fa fa-2x fa-spin fa-refresh"></i>
  </div> -->
  <div ng-show="ctrl.noDecisionAidFound">
    <div class="alert alert-danger">No Decision was found with the url: {{ctrl.decisionAidSlug}}</div>
  </div>
  <div ng-show="!ctrl.loading && ctrl.decisionAid">
    <div ng-switch="ctrl.currPage" class="space-bottom">
      <div ng-switch-when="property">
        <div>
          <div class="clearfix">
            <div class="pull-left space-right">
              <h3>{{ctrl.currProperty.title}}</h3>
            </div>
            <div ng-show="ctrl.currProperty" class="pull-right space-right">
              <h3>Question {{ctrl.propIndex+1}} of {{ctrl.filteredProperties.length}}</h3>
            </div>
          </div>

          <div>
            <h4>Which option do you feel is better for: {{ctrl.currProperty.title | lowercase}}?</h4>
            <div class="btn-group">
              <button ng-repeat="option in ctrl.options" ng-class="{'btn-success': option.id === ctrl.propertiesHash[ctrl.currProperty.id].traditional_option_id}" class="btn btn-default half-space-right half-space-bottom" ng-click="ctrl.setUserPropTraditionalOptionId(option.id)">
                {{option.title}}
              </button>
              <button ng-class="{'btn-success': ctrl.propertiesHash[ctrl.currProperty.id].traditional_option_id === -1}" class="btn btn-default" ng-click="ctrl.setUserPropTraditionalOptionId(-1)" style="width: 200px;">
                Unsure
              </button>
            </div>
          </div>

          <div ng-if="ctrl.propertiesHash[ctrl.currProperty.id].traditional_option_id !== null">
            <hr />
            <div compile="ctrl.currProperty.injected_selection_about_published"></div>
            <div>
              <uib-accordion>
                <div uib-accordion-group class="panel-info">
                  <uib-accordion-heading>
                    Want to learn more about: {{ctrl.currProperty.title | lowercase}}?
                  </uib-accordion-heading>
                  <div compile="ctrl.currProperty.injected_long_about_published"></div>
                </div>
              </uib-accordion>
            </div>
          </div>
          <!--<div class="half-space-bottom">
            <div ng-if="ctrl.currProperty.injected_long_about_published" compile="ctrl.currProperty.injected_long_about_published"></div>
          </div>
          <div class="x-scrollable">
            <table class="table table-bordered results-table full-height">
              <thead class="full-height">
                <tr class="full-height">
                  <th ng-repeat="option in ctrl.options track by option.id" class="results-option-image-cell top-align">
                    <div class="results-option-image-cell-div">
                      <img class="img-responsive results-option-image" style="max-width: 200px;" ng-src="{{::option.results_image_url}}" />
                      <div class="opt-title-wrapper clearfix">
                        <div class="opt-title">
                          <h4><span>{{::option.title}}</span></h4>
                        </div>
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-sm-6" ng-repeat="option in ctrl.options">
                    <div compile="ctrl.option_properties[ctrl.currProperty.id][option.id].injected_information_published"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>-->
        </div>
      </div>
      <div ng-switch-when="selectingProps">
        <div compile="::ctrl.decisionAid.injected_properties_information_published"></div>
        <div>
          <p>Please choose up to {{ctrl.decisionAid.maximum_property_count}} characteristics that are most important to your choice.</p>
        </div>
        <div ng-repeat="property in ctrl.properties" class="property-wrapper">
          <div class="clearfix">
            <div class="clearfix clickable" ng-click="ctrl.selectProperty(property)">
              <div class="pull-left half-space-right">
                <i class="fa fa-2x property-selection-button" ng-class="{'fa-check-circle-o selected': ctrl.propertiesHash[property.id], 'fa-circle-o': !ctrl.propertiesHash[property.id]}"></i>
              </div>
              <h5>{{::property.title}}</h5>
            </div>
          </div>
          <hr />
        </div>
        <div ng-if="ctrl.checkPropertiesLength() >= ctrl.decisionAid.minimum_property_count" id="relative-importance-charts">
        <div compile="::ctrl.decisionAid.injected_property_weight_information_published"></div>
        <div class="row">
          <div class="col-md-5">
            <div ng-repeat="prop in ctrl.orderedProperties" class="half-space-top half-space-bottom">
              <div class="half-space-bottom text-center"><strong>{{::prop.property_title}}</strong></div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="slider-cover-wrapper">
                    <div class="slider-cover" ng-style="{'background': prop.color, 'width': prop.weight + '%'}">

                    </div>
                  </div>
                  <div ui-slider="ctrl.sliderOptions" id="prop_{{$index + 1}}" min="0" max="100" step="{{ctrl.step}}" tick ng-model="prop.weight"></div>
                  <div class="property-tick-label clearfix">
                    <div class="pull-left">
                      0
                    </div>
                    <div class="pull-right">
                      10
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 text-left">
                  (Not important)
                </div>
                <div class="col-xs-6 text-right">
                  (Very important)
                </div>
              </div>
            </div>
            <!-- <div>
              <i class="fa fa-lg fa-info-circle dcida-info-icon"></i> <span class="warning-text">Feel free to scroll up and select additional properties. They will automatically be added to the chart!</span>
            </div> -->
          </div>
          <div class="col-md-7">
            <div class="text-center half-space-bottom"><strong>The relative importance of each attribute</strong></div>
            <div ng-switch="ctrl.decisionAid.chart_type" class="text-center">
              <div ng-switch-when="pie">
                <div sd-pie-chart sa-chart-items="ctrl.orderedProperties" style="margin: auto;"></div>
              </div>
              <div ng-switch-when="bar">
                <div sd-bar-chart sa-chart-items="ctrl.orderedProperties" style="margin: auto;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div
    </div>
    <sd-bottom-nav sa-show-next="{{'NEXT-BUTTON' | translate}}" sa-next-submit="ctrl.submitNext()" sa-show-prev="{{'BACK-BUTTON' | translate}}" sa-prev-link="ctrl.prevLink()"></sd-bottom-nav>
  </div>
</div>
