<div class="navbar admin-nav no-bottom-margin" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" ui-sref="signin">DCIDA 2.0</a>
      <ul class="nav navbar-nav">
        <li class="brand-header">
          <a ui-sref="signin">Signin</a>
        <li>
      </ul>
    </div>
  </div>
</div>